# Geocoding Organisations

For a number of planned analyses, we require the latitude and longitude of the organisations in the data, not just their names and addresses. To do this we will first use a geocoding service to identify lat lng from address strings.

In [226]:
import pickle
import ratelim
import json
import numpy as np
import os
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

from geopy.geocoders import GoogleV3
from ipywidgets import FloatProgress
from IPython.display import display

key = os.environ.get('GOOGLE_MAPS_KEY')

In [103]:
# Google geocoder
geocoder = GoogleV3(api_key=key)

In [3]:
# Read in config file with DB params
with open('../scripts/config.json') as f:
    conf = json.load(f)
    
# Define a connection string
conn_string = 'host={} dbname={} user={} password={}'.format(conf.get('host'),
                                                             conf.get('database'),
                                                             conf.get('user'),
                                                             conf.get('passw'))

# Create a connection object
conn = psycopg2.connect(conn_string)

# SQL string that unpacks nested JSON arrays
sql_str = """
SELECT id, name, addresses from gtr.organisations;
"""

# chunksize returns an iterator that reads chunk number of rows at a time
df = pd.read_sql(sql_str,
                 conn)

In [5]:
def country(x):
    try:
        return x.get('address', None)[0].get('country', None).lower()
    except:
        return None

In [152]:
# API rate limits with billing enabled
@ratelim.greedy(5, 1)
def geocode(address_dict):
    # Get the list out of the dict
    address_list = address_dict['address']

    # If no country need to assume UK
    if address_list and address_list[0].get('country', 'uk').lower() in uk_names:
        try:
            pc = address_dict['address'][0]['postCode']
            return geocoder.geocode(pc)
        except:
            address = address_str(address_dict)
            if address:
                return geocoder.geocode(address)
            else:
                return None
    else:
        address = address_str(address_dict, uk=False)
        if address:
            g = geocoder.geocode(address)
        else:
            return None

In [105]:
def get_add_part(address_entry, part):
    try:
        return address_entry['address'][0].get('{}'.format(part), None)
    except:
        return None

In [106]:
def postcode(address_entry):
    return get_add_part(address_entry, 'postcode')

In [107]:
def country(address_entry):
    c = get_add_part(address_entry, 'country')
    if c == None:
        return 'uk'
    else:
        return c.lower()

In [252]:
def line1(address_entry):
    return get_add_part(address_entry, 'line1')

In [264]:
def address_str(address_dict, uk=True):
    
    uk_address_keys = [
    'line1',
    'line2',
    'line3',
    'county',
    'postCode',
    ]
    
    other_address_keys = [
        'line1',
        'line2',
        'line3',
        'line4',
        'line5'
        'county',
        'country',
    ]
    
    if uk:
        address_keys = uk_address_keys
    else:
        address_keys = other_address_keys
    
    l = []
    address_list = address_dict.get('address', None)
    if address_list is None:
        return None
    try:
        if address_list[0] is not None:
            [l.append(address_list[0][key]) if key in address_keys else '' for key in address_list[0]]            
    except:
        return None
    
    return ", ".join(l)

In [109]:
def check_address(address_dict):
    address_list = address_dict.get('address', None)
    if address_list is None:
        return False
    try:
        if address_list[0] is not None:
            return True
    except:
        return False

In [390]:
# Function to get tuple by position, returning
# None where there isn't a valid entry
def get_tuple_value(x, pos):
    try:
        return x[pos]
    except TypeError:
        return None

In [79]:
# All the ways people put down UK in the country field
uk_names = ['united kingdom',
 'uk',
 'wales',
 'england',
 'scotland',
 'united kingom',
 'northern ireland',
 'united kindgom',
 'buckinghamshire',
 'yorkshire',
 'london',
 'u.k.',
 'united ,kingdom',
 'berkshire',
 'jersey',
 ' united kingdom',
 'u.k',
 '|united kingdom']

In [11]:
df['postcode'] = df.addresses.map(postcode)
n_postcodes = df.postcode.count()
n_no_postcodes = len(df.postcode) - n_postcodes
print('{} organisations with postcodes, {} without'.format(n_postcodes, n_no_postcodes))

18266 organisations with postcodes, 7299 without

We will be unable to geocode 7,299 organisations by using only a postcode in the geocode request. Lets check how many of those without postcodes, also lack other address details. For instance, organisations from outside the UK would lack a postcode, but can still be geocoded using a string lookup.

In [12]:
# Full dataframe check
df.addresses.map(check_address).value_counts()

True     21205
False     4360
Name: addresses, dtype: int64

In [13]:
# Subset of those without postcodes
df[df.postcode.isnull()].addresses.map(check_address).value_counts()

False    4360
True     2939
Name: addresses, dtype: int64

Of the 7,299 organisations without a postcode, 4,360 also have no address data. This leaves 2,939 organisations with no postcode but some data in the address field. Therefore the maximum number of geocoded organisations will be 21,205. When geocoding, we will default to the use of a postcode where possible, and fallback to an address string where a postcode isn't present.

In [387]:
"""latlng = []
num_addresses = df.addresses.shape[0]
f = FloatProgress(min=0, max=num_addresses)
display(f)

for address in df.addresses:
    g = geocode(address)
    try:
        latlng.append((g.latitude, g.longitude))
    except AttributeError:
        latlng.append(None)
    f.value += 1
"""

In [394]:
# Save as a pickled object
pickle.dump( latlng, open( "latlng.p", "wb" ) )

In [34]:
df_latlng = pd.DataFrame(np.asarray(latlng))

In [480]:
df_result = df.merge(df_latlng, left_index=True, right_index=True)
df_result.rename(columns={0: 'latlng'}, inplace=True)
df_result = df_result[df_result.latlng.notnull()]
df_result[['lat', 'lng']] = df_result.latlng.apply(pd.Series)
df_result.drop(['postcode', 'addresses', 'latlng'], axis=1, inplace=True)

In [481]:
df_result

,id,name,lat,lng
0,BAB46AB6-90FC-4145-B885-0153BEA15A73,A-Tech Fabrications Limited,54.604095,-1.574308
2,BCD9069A-6739-4039-86DB-042CB13254CB,Zurich Insurance plc,50.881574,-1.242902
3,B69FACF5-5AB9-4D97-88CD-0A38C32935FF,Limagrain UK Ltd,53.482100,-0.248484
4,B76FE143-1E07-40B0-8932-028207296A78,China Earthquake Administration,39.977022,116.306198
5,B80095E4-9D0F-4398-8A0E-07EB418EFFF6,Newmills Engineering Ltd,51.504765,-2.484122
6,B966BD7A-F468-4C74-A694-0842CB8F884F,Maastricht University,50.844288,5.688604
8,BA32CA96-1A26-415F-B3B2-0DC1DDFCE74F,Synthomer Ltd,51.784388,0.119136
9,BA59F886-138D-41EB-B9B1-0C79E45C61D3,Committee on Climate Change,51.494349,-0.140087
10,BA7D8BB2-4B17-4D57-AC78-001BA0F40F77,Agility Global Limited,51.650564,-0.149673
11,C059DB15-1836-430B-A993-0759206ABBB8,Openreach BT,51.515741,-0.097966
13,C066B655-E1BA-447A-A432-01FB6725E320,Emote Games Limited,50.876386,-1.240271
14,C2B3EE68-0D08-4321-964A-02108F67A3F8,Total Scientific Limited,52.094562,0.155632
15,C30DF86F-9DD8-4A78-97BA-067527E5E391,Omega Engineering Services Limited,51.901120,-2.097201
18,C42E852D-5D31-4DE8-8E91-04CF66DA9DE2,Swanshurst School,52.429668,-1.874164
19,C59C7E94-5DD5-4DCA-8586-09189A61F279,Smart Homes & Buildings Association Limited,51.513658,-0.115996
20,C8A76B9E-4F39-490B-BCCF-009F592A756C,CSR Corporate Social Responsibility,54.611911,-5.897319
21,C9069C42-693D-4C9C-B66B-0D968C7277AA,Microwave Consultants Ltd,51.586410,0.021622
22,C9424089-9FC7-4BD3-8C9A-0E38B885E2CE,Anglo-European Import/Export Limited,53.491752,-2.199954
23,D04848C3-4132-45F1-8841-06DB92EB1E87,National Trust Central Office (London),51.499822,-0.132807
24,D068E964-7B96-42CA-9F67-00BE1677AE7F,Absolute Air and Gas Limited,52.317875,-2.057433
25,D080060B-4CE4-495E-8C47-07BFD74CB8E0,T2 Utility Engineers Inc,43.666695,-79.328130
26,D3BC1D1D-CEC8-4A05-A0B0-0D6167F5A0B0,Solar-Polar Limited,52.589715,-0.240495
27,D3E9EF03-CF8E-4251-BCF4-01E09BFADDA8,Stoneballs Company Limited,53.047138,-0.689158
28,D42BD99F-AD31-43D6-8FBE-0B96F1E266D3,Resonance104.4fm,51.502767,-0.092569
29,CA10F5D0-8E26-4790-BF21-025009DDA322,Medical University of Graz,47.077042,15.447721
32,D5542D2A-CB08-48B1-91A6-03A59EA2B30F,British Nuclear Fuels plc,53.429375,-2.497167
33,D5F4323F-A8DF-4869-B0F0-0EB45A7A7F95,Electricity Supply Board (ESB),53.337593,-6.248403
34,D6C3234E-5048-4AA0-A116-0CAC51569B2D,University of Queensland,-19.317671,146.787238
36,D72C440C-6E4E-4FEE-94D9-0652BB970C3B,SoCo Music Project,50.916004,-1.398680
38,DFFCC0DB-5473-43BE-AC92-06CA6F272331,Elkem Materials Ltd,51.633181,-0.758936
...,...,...,...,...
25530,621FCA67-9259-4CBE-AECE-D7D4C4133C54,Denval Marine Consultants Limited,51.272733,0.192886
25531,82DA3271-1C71-474F-BF1B-D122CF76DAFF,KorteQ,51.615941,-0.241402
25532,839FAFB1-DF5C-46B3-96AD-CF18D4BC7AFC,ACBK,51.179268,71.417694
25533,84E231EE-EC82-44AC-9838-C30021DDA51A,Honeywell International Inc,31.568466,-85.248847
25534,84F84A6B-60BD-4285-B4D0-E334D8B8938A,HBXL Ltd,51.459949,-2.585094
25535,99A606D5-9E6E-4968-B976-C1A25D67F9AF,Cereform Ltd,51.512163,-0.145760
25536,99F15E99-5A6E-4F9E-911B-C5F8E010BAD8,Touch Emas Ltd,55.876329,-3.484469
25537,9B99C7C4-8160-46DC-89F7-C2F36B3767E2,Trafalgar Marine Technology Ltd,53.831347,-1.558718
25538,9D1B7194-491E-42B4-A4AF-C1D4DBAA3CCE,Johnson Test Papers Limited,52.527613,-2.073037
25539,B249150F-44BF-48CE-8135-D42FF59D0344,Molecular Vision Ltd,51.517798,-0.146684
25541,A397012C-D94E-45CA-A7E6-BD6F074B7028,Stockfield Metal Spinners,52.461496,-1.885907
25544,AAAE0503-DE4B-47B6-8C4B-B46D0062D536,Lunagen Ltd,50.781499,-0.940769
25545,AAE3A59D-9701-4A7E-8EC4-BA03027E466E,Stepping into Business Limited,53.403020,-2.328799
25547,ACBAEB96-C59A-433B-BC77-BAD807671AA4,Bobby Gilbert & Associates Limited,50.260705,-5.053707
25548,AD07723C-4B8A-40DB-B09C-C83E40869CFD,VOCAL (Voice of Carers Across Lothian),55.948417,-3.194976
25549,AD1B5C1D-39E1-4A1F-A58F-D5F2DE64FE7F,Innsbruck Medical University,13.079379,99.851490
25550,AD4118A8-85A8-403C-8108-C3C6146D14C4,Lloyds Register Of Shipping,57.147183,-2.105321
25551,AD44F225-3942-418A-B036-C699233AD12A,Chronos Technology Limited,51.852175,-2.594583
25552,ADCEEE0C-FB0E-4EED-89BB-C0FB6A253F0E,Nuvia Limited,51.581453,-1.311835
25553,6E8646B8-5C71-4DE5-9164-FC5E68CAE56C,Three Ones Music Ltd,41.237329,-86.621157
25554,7345A886-BEC0-4B87-9EE2-E5B93F7938AF,BabyHappy Limited,51.373594,-0.448807
25555,6716AB88-0CC4-464D-9A37-FAEFDBF28FB7,Doncaster Metropolitan Borough Council,45.779544,23.953210
25557,6917202A-7D08-4660-964C-EF12D6E0F8E3,Agrifibre Technologies Limited,52.104061,-0.321132
25558,82F16418-FF71-4AB8-9185-FDBCE2CFB46E,The Cabinet Office,51.503649,-0.126639
25559,861D241C-0324-4689-87EF-F91D681ECD16,Transport for Greater Manchester,53.478372,-2.232950
25560,86952E0A-D64A-4CE7-A0ED-EE2C1F02A07F,Luxfer Gas Cyclinders Limited,53.474040,-2.286319
25561,88C1DE3B-3852-4F78-8685-F80B4D748476,May Barn Horticultural Consultancy Limited,53.031839,-2.529046
25562,7AA4FAF1-DD16-466B-8852-EE37FB8A85F0,ATG UV Technology Limited,53.537295,-2.679350
25563,7CEF38BD-DE6D-45C1-9335-EC1B884E4146,James Dewhurst Limited,53.790529,-2.348961
25564,7EC3733E-A3C2-4449-8889-F893E9C790E8,Biocarbon Engineering Ltd,51.747988,-1.232856

In [375]:
engine = create_engine('postgresql://{}:{}@{}/{}'.format(conf.get('user'),
                                                         conf.get('passw'),
                                                         conf.get('host'),
                                                         conf.get('database')))

conn = engine.connect()

In [483]:
df_result.to_sql('orgs_latlng',
                 conn,
                 schema='gtr',
                 if_exists='replace',
                 index=False)

# From here delete

In [32]:
latlng = pickle.load(open('latlng.p', 'rb'))

In [22]:
g = geocoder.geocode("SG8 7RE")
g

Location(Church St, Thriplow, Royston, Cambridgeshire SG8 7RE, UK, (52.0997269, 0.1046752, 0.0))

In [185]:
df_result = df.merge(df_latlng, left_index=True, right_index=True)
df_result.rename(columns={0: 'latlng'}, inplace=True)

In [281]:
df_result[~df_result.country.isin(uk_names)].country.unique()

array(['china', 'netherlands', 'australia', 'canada', 'austria', 'ireland',
       'japan', 'norway', 'brazil', 'sri lanka', 'switzerland', 'france',
       'united states', 'kenya', 'new zealand',
       'taiwan, province of china', 'zimbabwe', 'portugal', 'germany',
       'estonia', 'india', 'russian federation', 'singapore', 'nigeria',
       'spain', 'belgium', 'poland', 'italy', 'south africa', 'ethiopia',
       'bolivia, plurinational state of', 'denmark', 'uganda', 'viet nam',
       'kyrgyzstan', 'malawi', 'malaysia', 'mexico', 'argentina',
       'hungary', 'el salvador', 'bangladesh', 'greece', 'ukraine',
       'cambodia', 'chile', 'peru', 'thailand', 'mozambique', 'ghana',
       'israel', 'cuba', 'sierra leone', 'morocco', 'hong kong', 'zambia',
       'cameroon', 'tanzania, united republic of', 'sweden', 'iceland',
       'kazakhstan', 'korea, republic of', 'bosnia and herzegovina',
       'ecuador', 'finland', 'croatia', 'saudi arabia', 'madagascar',
       'slovenia', 'mali', 'philippines', 'usa', 'czech republic',
       'indonesia', 'venezuela, bolivarian republic of', 'colombia',
       'romania', 'egypt', 'turkey', 'albania',
       'iran, islamic republic of', 'jamaica', 'burundi', 'slovakia',
       'georgia', 'syrian arab republic', 'united company', 'nepal',
       'burkina faso', 'macao', 'solomon islands', 'outside uk',
       'costa rica', 'trinidad and tobago', 'congo',
       'united arab emirates', 'new caledonia', 'palestine, state of',
       'the netherlands', 'namibia', 'yemen', 'sudan', 'fiji', 'rwanda',
       'saint lucia', 'gabon', 'gambia', 'niger', 'greenland',
       'montserrat', 'qatar', 'serbia', 'senegal', 'azerbaijan',
       'pakistan', 'yugoslavia', 'panama', 'lebanon', 'myanmar', 'sn2 2qw'], dtype=object)

In [254]:
df_result['country'] = df.addresses.map(country)
df_result['line1'] = df_result.addresses.map(line1)

In [255]:
df_other_countries = df_result[~df_result.country.map(lambda x: x.lower()).isin(uk_names)]

In [425]:
usa = ['usa', 'united states']
df_usa = df_other_countries[df_other_countries['country'].isin(usa)]

In [309]:
num_addresses = df_usa.iloc[166:].addresses.shape[0]
f = FloatProgress(min=0, max=num_addresses)
display(f)

for address in df_usa.iloc[166:].addresses:
    g = geocode(address)
    try:
        us_latlng.append((g.latitude, g.longitude))
    except AttributeError:
        us_latlng.append(None)
    f.value += 1

In [427]:
df_usa.reset_index(drop=True, inplace=True)
df_usa.drop('latlng', axis=1, inplace=True)
df_usa = df_usa.merge(df_latlng, left_index=True, right_index=True)
df_usa.rename(columns={0: 'latlng'}, inplace=True)

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [428]:
df_usa

,id,name,addresses,country,line1,latlng
0,2795AB81-FD33-413D-BBE4-127D1ACE6210,University of Chicago,"{'address': [{'line4': 'Chicago', 'line1': 'Un...",united states,University of Chicago,"(41.8150541, -87.6018039)"
1,55044D17-2C14-4D68-BED1-119271B476B4,Rosenstiel School of Marine & Atmospheri,"{'address': [{'line4': 'Miami', 'line1': 'Rose...",united states,Rosentiel Sch of Marine & Atmospheric,"(25.7326204, -80.1626698)"
2,58E3A7F8-5B1E-48D2-BDC5-0E835B3FA948,Xerox Corporation,"{'address': [{'line4': 'New York 14580', 'line...",united states,800 Phillips Road,"(43.2228451, -77.4170792)"
3,5FC4C032-4778-4A82-95CD-13F5897F599B,Joint Bioenergy Institute,"{'address': [{'line1': '5885 Hollis Street', '...",united states,5885 Hollis Street,"(37.8405026, -122.2899738)"
4,527728F1-2397-4BCC-AA10-1137F55A1D9E,Aginova Inc,"{'address': [{'line1': '2226 Central Ave.,', '...",united states,"2226 Central Ave.,","(34.48994, -93.0586689)"
5,1003BE2C-9E2D-4A5D-A13D-058587870722,Auburn University,"{'address': [{'line4': 'Auburn', 'line1': '301...",united states,301 Funchess hall,"(32.6000095, -85.4823262)"
6,B3C4BA7F-0E8E-4F2F-88C2-04277E328EB0,Search for a Common Ground,{'address': [{'line1': '1601 Connecticut Ave N...,united states,"1601 Connecticut Ave NW, Suite 200","(38.9113709, -77.04408049999999)"
7,AFE5C6FD-3500-44F6-B100-184B5F2FD0D7,Microsoft Research,"{'address': [{'line4': 'Redmond', 'line1': 'On...",united states,One Microsoft Way,"(47.6393096, -122.1283559)"
8,C1DA4809-2264-4894-9C3C-190942EACF3C,Mississippi State University,{'address': [{'line1': 'Mississippi State Univ...,united states,Mississippi State University,"(33.4555279, -88.7903868)"
9,B8480401-8DDE-472E-9BFB-13DEC29BD816,Louisiana State University,"{'address': [{'line4': 'Baton Rouge', 'line1':...",united states,Louisiana State University,"(30.4539947, -91.1848407)"
10,1B56BE39-25BE-4A95-9BAA-5F7EC425A638,Cardno TBE,"{'address': [{'line1': '380 Park Place Blvd.',...",united states,380 Park Place Blvd.,"(37.9376529, -121.2925971)"
11,FB74D388-22C0-4DAB-9D15-BFF9CFA45E4B,East Carolina University,"{'address': [{'line4': 'Greenville', 'line1': ...",united states,East Carolina University,"(34.85261759999999, -82.3940104)"
12,FC9ED2E5-3AE9-4CB4-AD0C-B8953F01D45C,University of Alabama at Birmingham,"{'address': [{'line4': 'Birmingham', 'line1': ...",united states,1720 2nd Avenue South,"(33.5095707, -86.8067248)"
13,39313FCF-0990-4E36-B136-80AC7830128F,EcoHealth Alliance,"{'address': [{'line1': '460 West 34th Street',...",united states,460 West 34th Street,"(40.7541045, -73.9989178)"
14,F25BC0C5-5284-441F-B79F-A61707946CA0,University of California Los Angeles,"{'address': [{'line4': 'Los Angeles', 'line1':...",united states,405 Hillgard Avenue,"(34.0522342, -118.2436849)"
15,A1067C91-D7E3-4CBC-A671-583F17B73185,University North Carolina Wilmington,"{'address': [{'line4': 'Wilmington', 'line1': ...",united states,North Carolina University - Wilmington,"(34.2252905, -77.8745331)"
16,99254C6D-7CCC-48F0-B118-7E25FF247891,Gaussian Inc,{'address': [{'line1': '340 Quinnipiac Street'...,united states,340 Quinnipiac Street,"(41.4560989, -72.8343502)"
17,93589381-05D5-494F-875F-5DCE3BA590C0,Synthes Inc,"{'address': [{'line4': 'West Chester', 'line1'...",united states,Synthes Inc,"(39.9606643, -75.6054882)"
18,65E2BD5E-63AB-4245-BB34-8FF0EBA452A1,Genzyme Corporation,"{'address': [{'line4': 'Framingham', 'line1': ...",united states,One Mountain Road,"(42.3032634, -71.4806898)"
19,6D30F26F-5158-46AA-AE3E-9D9EF1395FD8,Fermilab,"{'address': [{'line4': 'Batavia', 'line1': 'Fe...",united states,Fermilab,"(41.8403204, -88.23273030000001)"
20,7266DA07-C495-49A1-B0A3-7C4C39A58D6A,Signal Patterns,"{'address': [{'line1': '4th Floor', 'id': '227...",united states,4th Floor,"(39.7180262, -104.9875017)"
21,729C9072-B04E-45DD-A0B1-74028C36235E,Vassar College,"{'address': [{'line4': 'Poughkeepsie', 'line1'...",united states,124 Raymond Avenue,"(41.6804089, -73.89611099999999)"
22,736985B4-EC0B-49E5-B8B0-7C91DBCFB55D,State University of New York,"{'address': [{'line4': 'Syracuse', 'line1': '1...",united states,1 Forestry Drive,"(43.034718, -76.13635459999999)"
23,5810877C-CDDA-4FFA-901C-6A9055CF8735,Mitre Corporation,"{'address': [{'line4': 'Massachusetts', 'line1...",united states,202 Burlington Road,"(42.5049006, -71.2365435)"
24,4B4BAD27-8E4B-4D62-B7FB-6A3382E633AF,Dana Farber Cancer Institute,"{'address': [{'line4': 'Boston', 'line1': '44 ...",united states,44 Binney Street,"(42.337689, -71.1073274)"
25,E6756F63-3FA1-4DD9-8FFB-67C6EB0C4E90,Pennsylvania State University,{'address': [{'line1': '110 Technology Center ...,united states,110 Technology Center Building,"(42.159436, -71.0631451)"
26,7852EBBB-C808-481F-8DAE-65F3E57E48CD,Elastix Corp,{'address': [{'line1': '420 Blossom Hill Road'...,united states,420 Blossom Hill Road,"(37.2352811, -121.9695714)"
27,88B1E177-B3F4-421A-85E1-683228DE3D70,Arizona State University,"{'address': [{'line4': 'Tempe', 'line1': 'PO B...",united states,PO Box 875603,"(33.4255104, -111.9400054)"
28,88D88D16-DC00-4266-AB15-99A0172E1310,General Mills,{'address': [{'line1': '9000 Plymouth Avenue N...,united states,9000 Plymouth Avenue North,"(44.9942043, -93.39259349999999)"
29,A486D494-6ED1-4FFC-A58E-804F8D5FDB7F,ConAgra Foods,"{'address': [{'line1': 'ConAgra Drive', 'id': ...",united states,ConAgra Drive,"(41.254839, -95.92605449999999)"
...,...,...,...,...,...,...
569,483ABDB0-1754-410A-8FB0-A9A5CB2D0538,University of Montana,"{'address': [{'line4': 'Missoula', 'line1': '3...",united states,32 Campus Drive,"(46.8605765, -113.982128)"
570,520A7BCF-C90B-4FC1-A771-68E66D8A2810,Articulate Software,"{'address': [{'line1': '420 College Ave', 'id'...",united states,420 College Ave,"(33.5891792, -102.3675774)"
571,72C63E68-FE68-4BE1-B650-D43E6DB3B0AF,National Centre for Earthsurface dynamic,"{'address': [{'line4': 'Minneapolis', 'line1':...",united states,St Anthony Falls Laboratory,"(44.977753, -93.2650108)"
572,C46CFCDF-00C3-43D7-B7A2-7C2ACB111142,Illinois Institute of Technology,"{'address': [{'line4': 'Chicago', 'line1': '10...",united states,10 West 3st Street,"(41.8781136, -87.6297982)"
573,DEA494C1-5B42-42F7-9BF0-7BF5A402B897,California Polytechnic State University,"{'address': [{'line1': 'San Luis Obispo', 'cou...",united states,San Luis Obispo,"(35.3042949, -120.6657288)"
574,4EA14727-A869-4614-8185-82D83A9EEBF2,SAIC,"{'address': [{'line4': 'Mclean', 'line1': '171...",united states,1710 SAIC Drive,"(38.922607, -77.2340229)"
575,56E4415F-A969-4B4E-9AE7-95CEB911461A,Lousiana Tech University,"{'address': [{'line4': 'Ruston', 'line1': 'Col...",united states,College of Engineering & Science,"(32.5232053, -92.63792699999999)"
576,74260C67-536C-43F4-802C-80C96A7F1C0C,Liquid Robotics,{'address': [{'line1': '1329 Moffett Park Driv...,united states,1329 Moffett Park Drive,"(37.4109453, -122.0044173)"
577,377F78A6-170E-4351-95BE-CEE25DB3519A,NewFields,{'address': [{'line1': '1349 West Peachtree St...,usa,1349 West Peachtree Street\r\nSuite 2000,"(32.9975097, -82.41670769999999)"
578,A4FAAE42-7E74-4526-B17A-8AE5AE9B1EFB,Tech-X Corporation,"{'address': [{'line1': '5621 Arapahoe Ave, Sui...",united states,"5621 Arapahoe Ave, Suite A","(40.017275, -105.222726)"
579,55B138DA-C696-4E77-B2CC-E7B5D95C06C1,Invensys,"{'address': [{'line1': '33 Commercial Street',...",united states,33 Commercial Street,"(42.055164, -71.2467456)"
580,B1F0FBD2-C778-4BD5-B86A-88D96462C296,Noble Energy,{'address': [{'line1': '100 Glenborough Drive'...,united states,100 Glenborough Drive,"(29.9517221, -95.4196309)"
581,D4B3BE36-563D-45F5-80FF-F7827271BB06,Queens College (CUNY),"{'address': [{'line4': 'Queens', 'line1': '65-...",united states,65-30 Kissena Blvd.|,"(40.7362342, -73.8160795)"
582,78172E4D-9B35-4F46-B445-AB5B85DE5A37,Cold Regions Research & Engineering Lab,"{'address': [{'line4': 'New Hampshire', 'line1...",united states,Cold Regions Research & Engineering Lab,"(52.3758916, 9.732010400000002)"
583,88D135CF-CE84-4C0E-8518-917AE24F1F71,Boeing Aerospace UK Limited,"{'address': [{'line1': 'P.O. Box 516', 'id': '...",usa,P.O. Box 516,"(37.09024, -95.712891)"
584,468C0716-C181-4A85-8827-B00269E6F90A,Janssen Pharmaceutical,{'address': [{'line1': '1125 Trenton_Harbourto...,united states,1125 Trenton_Harbourton Road,"(40.292916, -74.8471603)"
585,02D51A91-D2E9-42DF-A97D-B562B52181FF,Combimatrix Corporation,"{'address': [{'line4': 'Mukitteo', 'line1': '6...",united states,6500 Harbour Heights Parkway,"(47.89710059999999, -122.3218093)"
586,31C4CAD2-D530-4D56-85C7-DD474F317B4F,Harvard School of Public Health,"{'address': [{'line4': 'Boston', 'line1': 'Har...",united states,Harvard School of Public Health,"(42.3355139, -71.10229819999999)"
587,3849AA61-7794-4F3A-94FF-E246C05C6D8D,University of New Hampshire,"{'address': [{'line4': 'Durham', 'line1': 'Uni...",united states,University of New Hampshire,"(35.9940329, -78.898619)"
588,436300CF-D086-49AD-8B44-CB277E1A1D95,Extreme Science & Eng Discovery Env,{'address': [{'line1': 'University of Illinois...,united states,"University of Illinois, Urbana-Champaign","(40.1093094, -88.2283887)"
589,B3581EF6-1370-4D24-8B29-F17EC12D0E27,Dow Chemical Company,{'address': [{'line1': 'Corporate Headquarters...,united states,Corporate Headquarters,None
590,B62A7F23-290D-4D84-B017-FBBDF6E49E3D,University of Vermont,"{'address': [{'line4': 'Burlington', 'line1': ...",united states,University of Vermont,"(44.476765, -73.201539)"
591,CACF1F25-94D5-46CA-AF92-C83D9D0F43F3,Zyvex Labs LLC,{'address': [{'line1': '1321 North Plano Road'...,united states,1321 North Plano Road,"(32.9648766, -96.7008613)"
592,C103B777-2ADB-42DC-8302-D3891F569454,Rice University,"{'address': [{'line4': 'Houston', 'line1': 'Ri...",united states,Rice University,"(29.7164461, -95.3992521)"
593,8A05CB2F-89D2-4E3D-8357-E26DA1E4D1C8,Morgan Stanley,"{'address': [{'line4': 'New York', 'line1': '1...",united states,1585 Broadway,"(40.7599901, -73.9855511)"
594,6E6F608F-23C5-4170-9198-B634BC9B7624,University of Rhode Island,"{'address': [{'line4': 'Kingston', 'line1': 'U...",united states,University of Rhode Island,"(41.4852985, -71.5255856)"
595,57A137CC-2386-46FB-B01E-FBC25FC526D7,Teragrid NCSA,"{'address': [{'line4': 'Champaign', 'line1': '...",united states,University of Illinois at Ubana-Champaig,"(40.1164204, -88.2433829)"
596,43F70FE4-97E9-460D-BE06-F2FCD4B47699,Datacolor,"{'address': [{'line1': '5 Princess Road', 'id'...",united states,5 Princess Road,"(40.283264, -74.707555)"
597,5C1B47CE-FF59-4725-8849-B3A4EDB98DF6,University of Texas at Arlington,{'address': [{'line1': '701 s.Nedderman Drive'...,united states,701 s.Nedderman Drive,"(32.7292595, -97.1149674)"
598,84E231EE-EC82-44AC-9838-C30021DDA51A,Honeywell International Inc,"{'address': [{'line4': 'Morristown', 'line1': ...",united states,101 Columbia Road,"(40.7913, -74.44328)"

In [435]:
df_usa.to_sql('orgs_latlng_us',
              conn,
              schema='gtr',
              if_exists='replace',
              index=False)