In [2]:
%matplotlib inline

#Imports
import json
import matplotlib.pyplot as plt
import psycopg2
import pandas as pd
import numpy as np
import seaborn as sns

ImportError: No module named psycopg2

In [1]:
#Create connection with our database
#Steps
#Load config file
with open("../scripts/config.json",'r') as f:
    config = json.load(f)

#Create connection string
conn_string = 'host={} dbname={} user={} password={}'.format(
                    config.get("host"),
                    config.get("database"),
                    config.get("user"),
                    config.get("passw"))
#Create connection
conn = psycopg2.connect(conn_string)

NameError: name 'json' is not defined

In [9]:
#Read the organisation data
#We'll read it in chunks
chunk= 500

#Create sql query string
sql_query_str="""
    SELECT
        *
    FROM
        gtr.organisations      
"""

#Read the data
org_df = pd.read_sql(sql_query_str,
                 conn)

In [10]:
org_df.head()

,pkey,addresses,created,href,id,links,name
0,1,"{u'address': [{u'city': u'Newton Aycliffe', u'...",2016-03-31 18:16:26,http://gtr.rcuk.ac.uk:80/gtr/api/organisations...,BAB46AB6-90FC-4145-B885-0153BEA15A73,"{u'link': [{u'otherAttributes': {}, u'href': u...",A-Tech Fabrications Limited
1,2,{u'address': []},2016-03-31 18:16:26,http://gtr.rcuk.ac.uk:80/gtr/api/organisations...,BB979A0C-0F8D-4B3F-A8D0-06A5F0D45FB0,"{u'link': [{u'otherAttributes': {}, u'href': u...",Life Sciences
2,3,"{u'address': [{u'created': 1459448184000, u're...",2016-03-31 18:16:26,http://gtr.rcuk.ac.uk:80/gtr/api/organisations...,BCD9069A-6739-4039-86DB-042CB13254CB,"{u'link': [{u'otherAttributes': {}, u'href': u...",Zurich Insurance plc
3,4,"{u'address': [{u'created': 1459448184000, u'co...",2016-03-31 18:16:26,http://gtr.rcuk.ac.uk:80/gtr/api/organisations...,B69FACF5-5AB9-4D97-88CD-0A38C32935FF,"{u'link': [{u'otherAttributes': {}, u'href': u...",Limagrain UK Ltd
4,5,"{u'address': [{u'created': 1459448184000, u'co...",2016-03-31 18:16:26,http://gtr.rcuk.ac.uk:80/gtr/api/organisations...,B76FE143-1E07-40B0-8932-028207296A78,"{u'link': [{u'otherAttributes': {}, u'href': u...",China Earthquake Administration

In [12]:
# get tidy project_org data
# read in json file
with open("../notebooks/project_org.json",'r') as f:
    project_org = json.load(f)

In [15]:
#check format
project_org[0]

{u'orgs': [{u'lad': u'E07000121',
   u'org_id': u'B151FD07-45A4-41E6-8CF8-441EE5F96CFF'}],
 u'project_id': u'00006CB7-61E0-4946-B7DB-DAE09ED63DE4',
 u'topics': nan}

In [46]:
# label project if collaboration between multiple orgs
proj_collab = {}
for proj in project_org:
    org_count = 0
    for org in proj["orgs"]:
        org_count = org_count+1
    if org_count>1:
        collab = 1
    else:
        collab = 0
    proj_collab[proj["project_id"]] = collab

In [48]:
#check
proj_collab["003E6B05-0738-4BCF-B8C5-C56DE5F9CAF0"]

0

In [49]:
# create a number of dictionaries to:
#       store LAD
#       count number projects organisation has done
#       count number of projects organisation collaborated on with another org
orgs_lads_dict = {}
orgs_pcount_dict = {}
orgs_ccount_dict = {}
for proj in project_org:
    collab = proj_collab[proj["project_id"]]
    for org in proj["orgs"]:
        orgs_lads_dict[org["org_id"]]= org["lad"]
        #count projects per org
        try:
            orgs_pcount_dict[org["org_id"]] = orgs_pcount_dict[org["org_id"]] + 1           
        except KeyError:
            orgs_pcount_dict[org["org_id"]] = 1   
        #count collabs per org
        try:
            orgs_ccount_dict[org["org_id"]] = orgs_ccount_dict[org["org_id"]] + collab
        except KeyError:
            orgs_ccount_dict[org["org_id"]] = collab

In [40]:
#check
orgs_lads_dict["3A5E126D-C175-4730-9B7B-E6D8CF447F83"]

u'E09000007'

In [50]:
orgs_pcount_dict["3A5E126D-C175-4730-9B7B-E6D8CF447F83"]

2902

In [51]:
orgs_ccount_dict["3A5E126D-C175-4730-9B7B-E6D8CF447F83"]

771

In [54]:
# convert dicts to series
slads = pd.Series(orgs_lads_dict, name="LADs")
spcount = pd.Series(orgs_pcount_dict, name="Proj_count")
sccount = pd.Series(orgs_ccount_dict, name="collab_count")
# check
slads.head()

In [60]:
#combine into df
df_orgs1 = pd.concat([slads,spcount,sccount], axis=1).reset_index()
df_orgs1.head()

                                  index       LADs  Proj_count  collab_count
0  0003EB78-07B9-400E-AE39-2AD612C28612  E06000056           1             1
1  000403BF-769B-412D-BCF4-5963D425DF40  E09000001           1             1
2  000557E6-19A4-44E6-BBCC-D32E1DA9530D  E06000018           3             1
3  0005728F-26ED-465D-8DCE-C49F181EDB2E  E07000165           1             1
4  0015E7C8-5920-4494-B1E9-BA6502ECA2B6  S12000035           1             1

In [66]:
# add org name
df_orgs2 = pd.merge(df_orgs1, org_df[["id","name"]], how="left", left_on="index", right_on="id")
df_orgs2 = df_orgs2.drop("id",axis=1)

In [67]:
df_orgs2.head()

,index,LADs,Proj_count,collab_count,name
0,0003EB78-07B9-400E-AE39-2AD612C28612,E06000056,1,1,Wentworth Laboratories Ltd
1,000403BF-769B-412D-BCF4-5963D425DF40,E09000001,1,1,Deloitte MCS Limited
2,000557E6-19A4-44E6-BBCC-D32E1DA9530D,E06000018,3,1,Voice Key Limited
3,0005728F-26ED-465D-8DCE-C49F181EDB2E,E07000165,1,1,Duchy Parade Films
4,0015E7C8-5920-4494-B1E9-BA6502ECA2B6,S12000035,1,1,Fusion Marine Limited

In [ ]:
# add org type?